<div [ngClass]="storedTheme || ''">
  <header>
    <p>Tasks</p>
    <app-config></app-config>
  </header>
  <main>
    <div class="empty" *ngIf="!tasks.length">
      <img src="../assets/img/task-32.svg" alt="" />
      <p>Tasks show up here</p>
    </div>
    <div *ngIf="tasks.length">
      <mat-list cdkDropList (cdkDropListDropped)="drop($event)" color="accent">
        <mat-list-item *ngFor="let task of tasks; let i = index" cdkDrag color="accent">
          <div class="wrapper">
            <input type="checkbox" [checked]="task.checked" (change)="check($event, i)" />
            <p [ngClass]="task.checked ? 'checked' : 'unchecked'">
              {{ task.name }}
            </p>
            <button (click)="deleteTask(i)" class="delete-task-button">X</button>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </main>
  <footer>
    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New Task</mat-label>
        <input autoComplete="off" matInput formControlName="name" type="text" />
        <button mat-button class type="submit" class="add-task-button">
          +
        </button>
      </mat-form-field>
    </form>
    <button mat-button class="delete-all" (click)="deleteAll()">
      Delete All
    </button>
  </footer>
</div>
