:host {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 24px;
}

div {
  width: 90vw;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;

  width: 90vw;
  max-width: 500px;
  font-size: 20px;

  p {
    margin: 0;
  }

  app-config {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
  }
}

main {
  width: 100%;

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 100px;
    }
  }

  ul {
    width: 100%;
    overflow: hidden;
    display: block;

    &.cdk-drop-list-dragging li:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    width: 100%;

    mat-form-field {
      width: 100%;

      mat-form-field-infix {
        position: relative;
      }

      input {
        width: 100%;
        height: 8px;
        border: none;
        border-top-left-radius: 0.3rem;
        padding: 8px;

        &:focus {
          outline: none;
        }
      }

      .add-task-button {
        position: absolute;
        font-size: 20px;
        height: 60px;

        bottom: 0px;
        right: -10px;
        border: none;
        border-bottom-right-radius: 0.3rem;
        border-radius: 0;
        cursor: pointer;
      }
    }
  }

  .delete-all {
    color: #fff;
    background: red;
    padding: 2px 16px;
    border: none;
    border-radius: 0.3rem;

    margin-top: 4px;
  }
}

main ul li,
.cdk-drag {
  margin-bottom: 8px;
  padding: 8px 0 8px 8px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  border-radius: 0.3rem;
  cursor: move;
  position: relative;
  z-index: 1;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);

  &:last-child {
    border: none;
  }

  p {
    margin: 0;
  }

  p.checked {
    text-decoration: line-through;
  }

  .delete-task-button {
    padding: 12px 15px;
    background: none;
    border: none;
    color: red;

    cursor: pointer;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
