@use '@angular/material' as mat;

@include mat.core();

$light-primary: mat.define-palette(mat.$gray-palette, 50);
$light-accent: mat.define-palette(mat.$gray-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

$dark-primary: mat.define-palette(mat.$gray-palette, 900);
$dark-accent: mat.define-palette(mat.$gray-palette, 200);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  mat-list-item {
    background-color: mat.get-color-from-palette($light-primary);
  }

  &.dark-theme {
    background-color: mat.get-color-from-palette($dark-primary);
    color: mat.get-color-from-palette($dark-accent, 'text');

    mat-list-item {
      background-color: mat.get-color-from-palette($dark-primary, 700);
    }
  }
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
